# Dependencies
node_modules/
yarn.lock
package-lock.json

# Expo
.expo/
dist/
web-build/

# OS files
.DS_Store

# IDE
.vscode/
.idea/

# Environment
.env
.env.local

# Logs
npm-debug.log
yarn-error.log

# macOS specific
.DS_Store
Library/
node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
